.scrollToTopButton {
  z-index: 10;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  border-radius: 50%;
  background-color: #218737;
  color: #fff;
}

.scrollToTopButton:hover {
  cursor: pointer;
}
