.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
}

.cardImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #218737;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modalBiography {
  margin-top: 2rem;
}

.links,
.skills {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.skills {
  padding: 0.5rem 0;
}

.links a,
.skills a {
  color: #218737;
  font-size: 0.9rem;
}

.skills li {
  background-color: #b0ffe9;
  padding: 2px 4px;
  font-size: 0.8rem;
}

hr {
  border: 0;
  /* clear: both; */
  margin-top: 10px;
  display: block;
  width: 96%;
  background-color: #ccc;
  height: 1px;
}
