.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

.cardImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #218737;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modalBiography {
  margin-top: 2rem;
}

.links,
.skills {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.skills {
  padding: 0.5rem 0;
}

.links a,
.skills a {
  color: #218737;
  font-size: 0.9rem;
}

.skills li {
  background-color: #b0ffe9;
  padding: 2px 4px;
  font-size: 0.8rem;
}

hr {
  border: 0;
  /* clear: both; */
  margin-top: 10px;
  display: block;
  width: 96%;
  background-color: #ccc;
  height: 1px;
}

@media (max-width: 1000px) {
  .cardImage {
    height: 175px;
    width: 175px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .cardTitle {
    font-size: 15px;
  }

  .card {
    text-align: center;
  }
}

@media (max-width: 850px) {
  .cardImage {
    height: 125px;
    width: 125px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 12px;
  }
  .card {
    margin: 0px;
  }
}

@media (max-width: 800px) {
  .cardImage {
    height: 100px;
    width: 100px;
  }

  h3 {
    font-size: 18px;
  }
  p {
    font-size: 12px;
  }

  .card {
    margin: 0px;
  }
}
