.statement {
  font-style: italic;
  font-size: 1.2rem;
  margin: 15px 0;
}

.line {
  margin: 15px 0;
  font-size: 1.2rem;
}

.factContainer {
  display: flex;
}

.factContainer .box {
  border: 1px #ccc solid;
  padding: 20px;
}

/* individual fact box */
.box {
  flex: 1;
  text-align: center;
}

.contact {
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mapContainer {
  width: 100%;
}

.locationContainer {
  display: flex;
  margin: 100px 0;
  gap: 5rem;
}

.stat {
  font-weight: bold;
}

li {
  white-space: nowrap;
}

@media only screen and (max-width: 1000px) {
  .line {
    font-size: 15px;
  }

  .container {
    text-align: center;
    /* margin-left: 20px;
    margin-right: 20px; */
    /* margin: 0 20px; */
    display: flex;
    /* gap: 2rem; */
    padding: 0 1rem;
    flex-direction: column;
  }

  .statement {
    font-size: 15px;
  }

  .contact {
    line-height: 2;
    /* margin-bottom: 0; */
    /* display: block; */
    /* text-align: center; */
  }

  .factContainer {
    font-size: 12px;
  }

  /* .mapContainer {
    display: none;
    width: 0px; */
  /* } */

  .locationContainer {
    flex-direction: column;
    /* gap: 1rem; */
    margin: 50px 0;
    gap: 2rem;
    /* gap: 5rem; */
    /* margin: 100px 0; */
  }

  .mapContainer {
    width: 100%;
    background-color: blue;
    height: 200px;
  }

  /* .hiddenContact {
    display: block;
    margin: 50px 0; */
  /* } */
}
