.statement {
  font-style: italic;
  margin: 15px 0;
}

.line {
  margin: 15px 0;
  font-size: 1.5rem;
}

.factContainer {
  display: flex;
}

.factContainer .box {
  border: 1px #ccc solid;
  padding: 20px;
}

/* individual fact box */
.box {
  flex: 1;
  text-align: center;
}

.contact {
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mapContainer {
  width: 100%;
}

.locationContainer {
  display: flex;
  margin: 100px 0;
  gap: 5rem;
}

.stat {
  font-weight: bold;
}

li {
  white-space: nowrap;
}
