.welcome {
  font-weight: bold;
  font-size: 2.5rem;
  padding: 15px 0;
  text-align: center;
}

.overlay {
  height: calc(100vh - 60px);
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.explore {
  font-size: 1.2rem;
}

.header {
  color: white;
}

.landing {
  height: calc(100vh - 60px);
  background: url('https://randomwordgenerator.com/img/picture-generator/54e2d1404a50ab14f1dc8460962e33791c3ad6e04e507440762a7cd1964ec5_640.jpg')
    no-repeat center center/cover;
  margin-top: 60px;
}

.home {
  height: 100vh;
  background-color: #fff;
}

.about {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #f7fff2;
}

.text {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.text h1 {
  font-size: 50px;
}

.image {
  border-radius: 1px;
}

.intro {
  top: 38%;
  position: absolute;
  font-size: 2.2rem;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.team {
  height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.team .boxes {
  gap: 3rem;
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
  padding: 15px 20px;
}

.teamTitle {
  font-size: 50px;
  margin-top: 15%;
}

.teamContainer {
  display: flex;
  flex-direction: column;
}

.teamText {
  margin: 2rem 10rem;
}
