.main {
  margin: 100px auto;
}

.wrapper {
  margin-top: 20px;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.peopleHeader {
  margin-top: 50px;
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    margin-top: 20px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .peopleHeader {
    font-size: 20px;
  }

  .main {
    text-align: center;
  }
}
