/* this file contains styles applied globally to all elements on site */

/* reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100%;
}

/* container for all sites */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* used as main header on all pages */
/* positions with the same margin from the navbar at the top of each page */
.header {
  font-size: 50px;
  margin-top: 100px;
}
